#nav-center-logo-menu-social {
    background: transparent;
}

#nav-center-logo-menu-social .nav-bg {
    background: linear-gradient(135deg, #111111, #000000);
    background: -webkit-linear-gradient(315deg, #111111, #000000);
}#header-img-timer .bg {
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: top right;
	opacity: 0.79;
}
#desc-full-text-btn-halfbg{
	background: #f1edea;
}

body{
  
	background: #f1edea;

}
#desc-full-text-btn-halfbg .half-container-right {
	background-image: url('2.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg1 .half-container-right {
	background-image: url('4.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-halfbg-text-btn {
	background: #f1edea;
}

#desc-full-halfbg-text-btn .half-container-left {
	background-image: url('3.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-halfbg-text-btn1 .half-container-left {
	background-image: url('5.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg--0 {
	background: #f1edea;
}
#desc-full-text-btn-halfbg{
    background: #453e39;
}

#desc-full-text-btn-halfbg--0 .half-container-right {
	background-image: url('6.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center right;
	opacity: 1;
}#footer-center-social-logo {
    background: #222222;
}
#desc-full-halfbg-text-btn2 .half-container-left {
	background-image: url('7.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg--01 .half-container-right {
	background-image: url('8.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center right;
	opacity: 1;
}
#desc-full-halfbg-text-btn3 .half-container-left {
	background-image: url('9.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-12 .half-container-right{
    background-image: url('10.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-13 .half-container-left{
    background-image: url('11.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-14 .half-container-right{
 background-image: url('12.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;   
}
#desc-full-text-btn-halfbg-15 .half-container-left{
 background-image: url('13.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;   
}
#desc-full-text-btn-halfbg-16 .half-container-right{
    background-image: url('14.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-17 .half-container-left{
 background-image: url('15.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;   
}
#desc-full-text-btn-halfbg-18 .half-container-right{
    background-image: url('16.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-19 .half-container-left{
    background-image: url('17.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-20 .half-container-right{
    background-image: url('18.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-21 .half-container-left{
    background-image: url('19.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-22 .half-container-right{
    background-image: url('20.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-23 .half-container-left{
    background-image: url('21.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-24 .half-container-right{
    background-image: url('22.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-25 .half-container-left{
    background-image: url('23.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-26 .half-container-right{
    background-image: url('24.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-27 .half-container-left{
    background-image: url('25.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-28 .half-container-right{
    background-image: url('26.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-29 .half-container-left{
    background-image: url('27.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-30 .half-container-right{
    background-image: url('28.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-31 .half-container-left{
    background-image: url('29.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-32 .half-container-right{
    background-image: url('30.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-33 .half-container-left{
    background-image: url('31.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-34 .half-container-right{
    background-image: url('32.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-35 .half-container-left{
    background-image: url('33.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-36 .half-container-right{
    background-image: url('34.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-37 .half-container-left{
    background-image: url('35.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-38 .half-container-right{
    background-image: url('36.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-39 .half-container-left{
    background-image: url('37.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-40 .half-container-right{
    background-image: url('38.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-41 .half-container-left{
    background-image: url('39.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-42 .half-container-right{
    background-image: url('40.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-43 .half-container-left{
    background-image: url('41.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-44 .half-container-right{
    background-image: url('42.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-45 .half-container-left{
    background-image: url('43.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-46 .half-container-right{
    background-image: url('44.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-47 .half-container-left{
    background-image: url('45.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-48 .half-container-right{
    background-image: url('46.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-49 .half-container-left{
    background-image: url('47.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}

#desc-full-text-btn-halfbg-50 .half-container-right{
    background-image: url('48.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-51 .half-container-left{
    background-image: url('49.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-52 .half-container-right{
    background-image: url('50.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg-53 .half-container-left{
    background-image: url('51.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}